pipeline/load_stg1_stg2.json
{
	"name": "load_stg1_stg2",
	"properties": {
		"activities": [
			{
				"name": "LKP_METADATA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TRANS_RULE,SCHEMA_NAME,TARGET_TABLE FROM CUST_STAGE1.LKP_METADATA;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Foreach_stage2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_METADATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_METADATA').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_stage1_stage2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@item().TRANS_RULE",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "output_sqlstge2_load",
									"type": "DatasetReference",
									"parameters": {
										"SCHEMA_NAME": {
											"value": "@item().SCHEMA_NAME",
											"type": "Expression"
										},
										"TARGET_TABLE": {
											"value": "@item().TARGET_TABLE",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-04-21T17:20:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}